@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
*:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

@font-face { font-family: HelveticaNeueRoman; src: url("fonts/HelveticaNeueRoman.eot"); src: url("fonts/HelveticaNeueRoman.eot?#iefix") format("embedded-opentype"), url("fonts/HelveticaNeueRoman.woff2") format("woff2"), url("fonts/HelveticaNeueRoman.woff") format("woff"), url("fonts/HelveticaNeueRoman.ttf") format("truetype"); font-weight: normal; font-style: normal; }
body { font-family: "HelveticaNeueRoman", Arial, sans-serif; font-style: normal; font-weight: normal; font-size: 11px; line-height: 1.4; background: #040405; color: #8b8b8b; }

.out { max-width: 600px; margin: 0 auto; }

.header { padding-top: 20px; margin-bottom: 22px; text-align: center; }

.header__in { margin-left: 10%; padding-right: 10%; border-bottom: 1px solid #484b4c; padding-bottom: 20px; color: #fff; }

.logo { display: inline-block; margin-bottom: 20px; background: url('../img/icons-s8f4305acce.png') 0 -108px no-repeat; background-position: 0 -54px; width: 162px; height: 19.5px; -moz-background-size: 197px 99px; -webkit-background-size: 197px 99px; background-size: 197px 99px; }

.content { padding: 0 6px; }

.video { position: relative; margin-bottom: 14px; }
.video.video_big .play { width: 64px; height: 64px; }
.video.video_big .play:before { font-size: 21px; margin: -11px 0 0 -9px; }
.video .stats { margin-top: 14px; }

.video__title { position: relative; margin-bottom: 8px; padding-left: 56px; font-size: 17px; color: #fff; }
.video__title span { position: absolute; top: 50%; left: 28px; margin-top: -9px; font-size: 18px; color: #e808fc; margin-right: 11px; }

.video__author { margin-bottom: 19px; padding-left: 28px; color: #fff; }
.video__author a { color: #e808fc; text-decoration: none; }

.video__container { position: relative; }
.video__container img { width: 100%; height: auto; display: block; }

.play { position: absolute; top: 50%; left: 50%; width: 48px; height: 48px; margin: -24px 0 0 -24px; border-radius: 50%; opacity: 0.85; background: rgba(35, 38, 40, 0.9); box-shadow: 0 0 18px rgba(20, 20, 21, 0.93); }
.play:before { content: ""; position: absolute; top: 50%; left: 50%; margin: -7px 0 0 -5px; font-family: "icomoon"; font-size: 15px; color: #e808fc; }

.stats { padding: 0 30px; *zoom: 1; }
.stats:after { content: " "; display: table; clear: both; }
.stats .stats__views { position: relative; float: left; padding-left: 31px; width: 50%; font-size: 17px; color: #8b8b8b; }
.stats .stats__views span { position: absolute; top: 50%; left: 0; margin-top: -11px; font-size: 20px; color: #e808fc; }
.stats .stats__rating { float: right; width: 34%; }
.stats .stats__rating > p { font-size: 11px; color: #8b8b8b; }

.rating { font-size: 0; margin-bottom: 7px; }
.rating li { display: inline-block; vertical-align: middle; margin-left: 4px; font-size: 13px; color: #7d7e7e; }
.rating li:first-child { margin-left: 0; }
.rating li.is-active { color: #e808fc; }

.playlist { *zoom: 1; margin-left: -3%; margin-bottom: 6px; }
.playlist:after { content: " "; display: table; clear: both; }
.playlist .video { float: left; width: 47%; margin-left: 3%; margin-bottom: 3%; }

.footer { padding: 0 6px 18px; text-align: center; }
.footer .footer__list { font-size: 0; }
.footer .footer__list li { display: inline-block; vertical-align: middle; margin-left: 19px; }
.footer .footer__list li:first-child { margin-left: 0; }
.footer .footer__list li a { position: relative; display: inline-block; padding-left: 7px; color: #767777; font-size: 11px; text-decoration: none; }
.footer .footer__list li a:before { content: ""; position: absolute; top: 5px; left: 0; width: 0px; height: 0px; border-style: solid; border-width: 2.5px 0 2.5px 3px; border-color: transparent transparent transparent #767777; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }
