//fonts

+font(HelveticaNeueRoman, HelveticaNeueRoman)
=helvetica
	font-family: 'HelveticaNeueRoman', Arial, sans-serif
	font-style: normal
	font-weight: normal

body
	+helvetica 
	font-size: 11px 
	line-height: 1.4
	background: #232628
	color: #8b8b8b 

// common blocks      
.out
	max-width: 600px
	margin: 0 auto
.header
	padding-top: 20px
	margin-bottom: 22px
	text-align: center
.header__in
	margin-left: 10%
	padding-right: 10%
	border-bottom: 1px solid #484b4c
	padding-bottom: 20px
	text-align: left
.logo
	display: inline-block
	margin-bottom: 20px
	+sr(logo)
.content
	padding: 0 6px 

.video
	position: relative
	margin-bottom: 14px
.video__title
	margin-bottom: 8px
	padding-left: 28px
	font-size: 17px
	color: #fff 
	span
		font-size: 18px
		color: #e52c51
		margin-right: 11px
.video__author
	margin-bottom: 19px
	padding-left: 28px
	color: #8b8b8b
	a
		color: #ff2d57
		text-decoration: none
.video__container
	position: relative
	img
		width: 100%
		height: auto 
		display: block				 	 	











































































































